/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-highcontrast {
  --dimension-typo-letter-spacing-0: 0px;
  --dimension-number-0: 0px;
  --dimension-number-1: 1px;
  --dimension-number-2: 2px;
  --dimension-number-3: 4px;
  --dimension-number-4: 6px;
  --dimension-number-5: 8px;
  --dimension-number-6: 10px;
  --dimension-number-7: 12px;
  --dimension-number-8: 16px;
  --dimension-number-9: 20px;
  --dimension-number-10: 24px;
  --dimension-number-11: 28px;
  --dimension-number-12: 32px;
  --dimension-number-13: 36px;
  --dimension-number-14: 40px;
  --dimension-number-15: 44px;
  --dimension-number-16: 48px;
  --dimension-number-17: 56px;
  --dimension-number-18: 64px;
  --dimension-number-19: 72px;
  --dimension-number-20: 80px;
  --dimension-number-21: 96px;
  --dimension-number-max: 1000px;
  --dimension-typo-letter-spacing-1: 1px;
  --dimension-font-size-display-large: 60px;
  --dimension-font-size-display-medium: 44px;
  --dimension-font-size-display-small: 36px;
  --dimension-font-size-heading-xlarge: 40px;
  --dimension-font-size-heading-large: 32px;
  --dimension-font-size-heading-medium: 24px;
  --dimension-font-size-heading-small: 19px;
  --dimension-font-size-body-large: 19px;
  --dimension-font-size-body-medium: 17px;
  --dimension-font-size-body-small: 15px;
  --dimension-font-size-body-xsmall: 13px;
  --dimension-font-size-heading-xsmall: 17px;
  --dimension-font-size-heading-xxsmall: 15px;
  --dimension-font-size-label-large: 19px;
  --dimension-font-size-label-medium: 17px;
  --dimension-font-size-label-small: 15px;
  --dimension-font-size-label-xsmall: 13px;
  --dimension-font-size-navigation-title-medium: 24px;
  --dimension-font-size-navigation-title-small: 19px;
  --dimension-font-size-navigation-depth-medium-bold: 17px;
  --dimension-font-size-navigation-depth-medium: 17px;
  --dimension-font-size-navigation-depth-small: 15px;
  --dimension-font-size-navigation-depth-small-bold: 15px;
  --dimension-border-width-variable-regular: 2px;
  --dimension-shadow-y-3: 8px;
  --dimension-shadow-y-4: 16px;
  --dimension-shadow-blur-3: 16px;
  --dimension-shadow-blur-4: 24px;
  --dimension-border-width-variable-medium: 3px;
  --dimension-border-width-static-regular: 1px;
  --dimension-border-width-static-medium: 2px;
  --dimension-gap-layout-header-breadcrumb: var(--dimension-number-10);
  --dimension-padding-card-large: var(--dimension-number-14);
  --dimension-padding-card-medium: var(--dimension-number-12);
  --dimension-padding-card-small: var(--dimension-number-10);
  --dimension-padding-card-xsmall: var(--dimension-number-8);
  --dimension-gap-layout-left-contents: var(--dimension-number-18);
  --dimension-gap-layout-contents-right: var(--dimension-number-14);
  --dimension-gap-layout-contents-footer: var(--dimension-number-18);
  --dimension-gap-layout-breadcrumb-h1: var(--dimension-number-14);
  --dimension-gap-layout-h1-h2: var(--dimension-number-16);
  --dimension-gap-layout-h2: var(--dimension-number-20);
  --dimension-gap-layout-h2-h3: var(--dimension-number-14);
  --dimension-gap-layout-h3: var(--dimension-number-18);
  --dimension-gap-layout-h3-h4: var(--dimension-number-10);
  --dimension-gap-layout-h4: var(--dimension-number-14);
  --dimension-gap-layout-h4-h5: var(--dimension-number-8);
  --dimension-gap-layout-h5: var(--dimension-number-12);
  --dimension-gap-layout-title-body-large: var(--dimension-number-10);
  --dimension-gap-layout-title-body-medium: var(--dimension-number-9);
  --dimension-gap-layout-title-body-small: var(--dimension-number-8);
  --dimension-gap-layout-text-large: var(--dimension-number-9);
  --dimension-gap-layout-text-medium: var(--dimension-number-8);
  --dimension-gap-layout-text-small: var(--dimension-number-7);
  --dimension-gap-layout-image-text-large: var(--dimension-number-12);
  --dimension-gap-layout-image-text-medium: var(--dimension-number-10);
  --dimension-gap-layout-image-text-small: var(--dimension-number-9);
  --dimension-gap-1: var(--dimension-number-2);
  --dimension-gap-2: var(--dimension-number-3);
  --dimension-gap-3: var(--dimension-number-5);
  --dimension-gap-4: var(--dimension-number-7);
  --dimension-gap-5: var(--dimension-number-8);
  --dimension-gap-6: var(--dimension-number-9);
  --dimension-gap-7: var(--dimension-number-10);
  --dimension-gap-8: var(--dimension-number-12);
  --dimension-gap-9: var(--dimension-number-14);
  --dimension-gap-10: var(--dimension-number-16);
  --dimension-gap-11: var(--dimension-number-18);
  --dimension-gap-12: var(--dimension-number-20);
  --dimension-padding-1: var(--dimension-number-2);
  --dimension-padding-2: var(--dimension-number-3);
  --dimension-padding-3: var(--dimension-number-5);
  --dimension-padding-4: var(--dimension-number-6);
  --dimension-padding-5: var(--dimension-number-7);
  --dimension-padding-6: var(--dimension-number-8);
  --dimension-padding-7: var(--dimension-number-9);
  --dimension-padding-8: var(--dimension-number-10);
  --dimension-padding-9: var(--dimension-number-12);
  --dimension-padding-10: var(--dimension-number-14);
  --dimension-size-height-1: var(--dimension-number-5);
  --dimension-radius-xsmall1: var(--dimension-number-2);
  --dimension-radius-xsmall2: var(--dimension-number-2);
  --dimension-size-height-2: var(--dimension-number-8);
  --dimension-size-height-3: var(--dimension-number-9);
  --dimension-radius-xsmall3: var(--dimension-number-2);
  --dimension-radius-small1: var(--dimension-number-3);
  --dimension-size-height-4: var(--dimension-number-10);
  --dimension-size-height-5: var(--dimension-number-12);
  --dimension-radius-small2: var(--dimension-number-3);
  --dimension-size-height-6: var(--dimension-number-14);
  --dimension-radius-small3: var(--dimension-number-3);
  --dimension-size-height-7: var(--dimension-number-16);
  --dimension-radius-medium1: var(--dimension-number-4);
  --dimension-size-height-8: var(--dimension-number-17);
  --dimension-radius-medium2: var(--dimension-number-4);
  --dimension-size-height-9: var(--dimension-number-18);
  --dimension-size-height-10: var(--dimension-number-19);
  --dimension-radius-medium3: var(--dimension-number-5);
  --dimension-size-height-11: var(--dimension-number-20);
  --dimension-radius-medium4: var(--dimension-number-5);
  --dimension-radius-large1: var(--dimension-number-6);
  --dimension-radius-large2: var(--dimension-number-6);
  --dimension-radius-xlarge1: var(--dimension-number-7);
  --dimension-radius-xlarge2: var(--dimension-number-7);
  --dimension-radius-max: var(--dimension-number-max);
}